<div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>
          Criar Estudante
          <a href="/" class="btn btn-danger float-end">Voltar</a>
        </h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="saveStudent()" >

          <div class="md-3">
            <label for="">Nome:</label>
            <input type="text" [(ngModel)]="name" name="name" id="" class="form-control">
          </div>
          <div class="md-3">
            <label for="">Curso:</label>
            <input type="text" [(ngModel)]="course" name="course" id="" class="form-control">
          </div>
          <div class="md-3">
            <label for="">E-mail:</label>
            <input type="text" [(ngModel)]="email" name="email" id="" class="form-control">
          </div>
          <div class="md-3">
            <label for="">Telemovel:</label>
            <input type="text" [(ngModel)]="phone" name="phone" id="" class="form-control">
          </div>
          <div class="md-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
