<div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>
          Criar Utilizador
          <a routerLink="/users" class="btn btn-danger float-end">Voltar</a>
        </h1>
      </div>
      <div class="card-body">
        <!-- component do loading -->
        <div *ngIf="isLoading; else elseForm">
            <app-loader :title="loadingTitle"></app-loader>
        </div>
        <ng-template #elseForm></ng-template>

        <form (ngSubmit)="saveUser()" >

          <div class="md-3">
            <label for="name">Nome:</label>
            <input type="text" [(ngModel)]="name" name="name" id="name" class="form-control">
            <span *ngIf="errors.name" class="text-danger">{{errors.name}}</span>
          </div>
          <div class="md-3">
            <label for="email">Email:</label>
            <input type="text" [(ngModel)]="email" name="email" id="email" class="form-control">
            <span *ngIf="errors.email" class="text-danger">{{errors.email}}</span>
          </div>
          <div class="md-3">
            <label for="password">Password:</label>
            <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control">
            <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>
          </div>

          <div class="md-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

